In [1]:
import pandas as pd

In [2]:
artists = pd.read_csv('../data/artists.csv')

In [20]:
artists.head(436668).tail(1)

                            id  followers         genres  name  popularity
436667  3MLHJz04KmEVzCTPclzkEm        NaN  ['czech pop']  Niko          21

In [16]:
artists

,id,followers,genres,name,popularity
0,0DheY5irMjBUeLybbCUEZ2,0.0,[],Armid & Amir Zare Pashai feat. Sara Rouzbehani,0
1,0DlhY15l3wsrnlfGio2bjU,5.0,[],ปูนา ภาวิณี,0
2,0DmRESX2JknGPQyO15yxg7,0.0,[],Sadaa,0
3,0DmhnbHjm1qw6NCYPeZNgJ,0.0,[],Tra'gruda,0
4,0Dn11fWM7vHQ3rinvWEl4E,2.0,[],Ioannis Panoutsopoulos,0
...,...,...,...,...,...
1162090,3cOzi726Iav1toV2LRVEjp,4831.0,['black comedy'],Ali Siddiq,34
1162091,6LogY6VMM3jgAE6fPzXeMl,46.0,[],Rodney Laney,2
1162092,19boQkDEIay9GaVAWkUhTa,257.0,[],Blake Wexler,10
1162093,5nvjpU3Y7L6Hpe54QuvDjy,2357.0,['black comedy'],Donnell Rawlings,15
1162094,2bP2cNhNBdKXHC6AnqgyVp,40.0,['new comedy'],Gabe Kea,8

In [17]:
artists.dtypes

id             object
followers     float64
genres         object
name           object
popularity      int64
dtype: object

In [6]:
tracks = pd.read_csv('../data/tracks.csv')

In [23]:
def convert_date(d: str):
    if d.count('-') == 0:
        return d + '-01-01'
    return d

tracks['release_date'] = tracks['release_date'].apply(convert_date)
tracks['release_date'].sort_values()

478627    1900-01-01
132355    1922-01-01
101       1922-01-01
102       1922-01-01
132344    1922-01-01
             ...
188856    2021-04-16
188857    2021-04-16
374824    2021-04-16
188846    2021-04-16
188962    2021-04-16
Name: release_date, Length: 586672, dtype: object

In [8]:
tracks.dtypes

id                   object
name                 object
popularity            int64
duration_ms           int64
explicit              int64
artists              object
id_artists           object
release_date         object
danceability        float64
energy              float64
key                   int64
loudness            float64
mode                  int64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
time_signature        int64
dtype: object